.bg-image {
  background-size: auto;
  background-image: url("../../app/public/images/electronic.jpg");
}

body {
  background-color: black;
}

.footer
{
  margin-top: 14px;
  background-color: #1B1C1D;
}

.text {
  color: white;
  margin-top: 5px;
  margin-bottom: 5px;
}