.bg-image {
  background-size: auto;
  background-image: url("https://w-dog.net/wallpapers/6/14/483307692322911/background-dark-album-vinyl-music.jpg");
}

body {
  background-color: black;
}

.footer
{
  margin-top: 14px;
  background-color: #1B1C1D;
}

.footer-text {
    font-family: 'Roboto', sans-serif;
    color: white;
    margin-top: 5px;
    margin-bottom: 5px;
}

.signout {
    margin-top: -10px;
    padding: 200px;
    object-fit: cover;
    background-image: url("https://w-dog.net/wallpapers/6/14/483307692322911/background-dark-album-vinyl-music.jpg");
}

#back {
  background-color: white;
}

.icons-landing {
  margin: 0 0 0 10.5px !important;
}

.multiselect {
  color: black !important;
}

.white{
  color: white;
}
