.bg-image {
  background-size: auto;
  background-image: url("https://w-dog.net/wallpapers/6/14/483307692322911/background-dark-album-vinyl-music.jpg");

}

body {
  background-color: black;
}

.footer
{
  margin-top: 14px;
  background-color: #1B1C1D;
}

.text {
  color: white;
  margin-top: 5px;
  margin-bottom: 5px;
}